.modal-dialog.modal-lg
  / モーダルのコンテンツ部分
  .modal-content
    / モーダルのヘッダー
    .container
      .modal-header
        / モーダルのタイトル
        %h5#exampleModalLabel.modal-title 注文編集
        / 閉じるアイコン
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      / モーダルの本文
      .modal-body
        .row
          .col
            %h4 注文No: #{@order.trade_no}
            %h4 商品名: #{@order.item_set.item_set_name}
            %h4
              = link_to @order.item_set.shop_url, :target=>["_blank"] do
                = I18n.t("activerecord.attributes.item_set.item_no_category.#{@order.item_set.item_no_category}", locale: :ja)
                = "-"
                = @order.item_set.item_no
            %br/
        = form_for(@order, url: japanese_retailer_order_path(id: @order.id)) do |f|
          .row.justify-content-center
            .col-4.border-right
              %h6.mr-5 商品写真
              .ks-1.d-block
                - if @order.pictures.empty?
                  .ks-2.d-block.bg-light.text-center.picture-addition-block{id: "modal-order-id-#{@order.id}_picture-1"}
                    .ks-3.btn.btn-success.modal-add-btn.btn-block 商品写真追加
                - else
                  = f.fields_for :pictures, @order.pictures.order(:id) do |ff|
                    .ks-2.d-inline-block.p-1.mb-2.bg-light.picture-block.w-100{style: "min-height: 70px;"}
                      %img.ks-3{:src => ff.object.url, :class => "w-100"}/
                      = ff.hidden_field :url, class: "form-control picture-input ks-3"
                      .ks-3.d-block.text-right
                        .ks-4.btn.delete-btn.btn-danger 削除
                  .ks-2.d-block.bg-light.text-center.picture-addition-block{id: "modal-order-id-#{@order.id}_picture-#{@order.pictures.length + 1}"}
                    .ks-3.btn.btn-success.modal-add-btn.btn-block 商品写真追加
            .col-4.border-right
              %label 色・サイズ(日本語)
              = f.text_field :color_size, class: "form-control"
              %br/
              %label 色・サイズ(中国語)
              = f.fields_for :taobao_color_size, @order.taobao_color_size || @order.build_taobao_color_size do |ff|
                = ff.text_field :name, class: "form-control"
              %br/
              %label 数量
              = f.text_field :quantity, class: "form-control"
              %br/
              %br/
              %label お届け先：郵便番号
              = f.text_field :postal, class: "form-control"
              %br/
              %label お届け先：住所
              = f.text_field :address, class: "form-control"
              %br/
              %label お届け先：氏名
              = f.text_field :customer_name, class: "form-control"
              %br/
              %label お届け先：電話番号
              = f.text_field :phone, class: "form-control"
              %br/
            .col-4
              %label 購入予定金額（元）
              = f.text_field :estimate_charge, class: "form-control"
              %br/
              %label 発注状況
              = f.text_field :japanese_retailer_status, class: "form-control"
              %br/
              %label 顧客の連絡事項
              = f.text_field :customer_remark, class: "form-control"
              %br/
              %label あなたの連絡事項
              = f.text_field :japanese_retailer_remark, class: "form-control"
              %br/
          %br/
          .modal-footer
            = f.submit '登録', class: 'btn btn-primary'

:javascript
  var picture_length = #{@order.pictures.length - 1};
  addNewPictureField(picture_length);
  removePictureField();
  function addNewPictureField(picture_length) {
    $(".modal-add-btn").click(function(e){
      var form_html = `
      <div class="form-inline ks-3">
        <input class="form-control w-100 ks-4" onfocus="this.select();" type="text" name="picture[url]" id="picture_url">
        <div class="d-inline-block p-1 ks-4" style="width: 60%;">
          <button class="btn btn-primary save-btn btn-block btn-sm ks-5" type="button">保存</button>
        </div>
        <div class="d-inline-block p-1 ks-4" style="width: 40%;">
          <button class="btn btn-default border-primary text-primary btn-cancel btn-block btn-sm ks-5" type="button">キャンセル</button>
        </div>
      </div>`;
      $(e.target).parent().html(form_html);
      $(".btn-cancel").click(function(e){
        var add_btn_html = `
        <div class="ks-3 btn btn-success modal-add-btn btn-block">
          商品写真追加
        </div>
        `;
        $(e.target).parent().parent().parent().html(add_btn_html);
        return addNewPictureField(picture_length);
      })
      $(".save-btn").click(function(e){
        picture_length += 1;
        var img_src = $(e.target).parent().prev("input").val();
        var img_html = `
        <div class="d-inline-block p-1 mb-2 bg-light picture-block w-100 ks-2" style="min-height: 70px;">
          <img class="w-100 ks-3" src=${img_src}>
          <input class="form-control picture-input ks-3" type="hidden" value=${img_src} name="order[pictures_attributes][${picture_length}][url]">
          <div class="d-block text-right ks-3">
            <button class="ks-4 btn delete-btn btn-danger">
              削除
            </button>
          </div>
        </div>
        <input class="ks-2" type="hidden" value="" name="order[pictures_attributes][${picture_length}][id]">
        <div class="ks-2 d-block bg-light text-center picture-addition-block">
          <div class="ks-3 btn btn-success modal-add-btn btn-block">商品写真追加</div>
        </div>`;
        var add_btn_html = `
        `;
        var ks_1 = $(e.target).parent().parent().parent().parent();
        var ks_2_all = ks_1.children();
        var ks_2_last = ks_2_all.last();
        ks_2_last.remove();
        ks_1.append(img_html);
        removePictureField();
        return addNewPictureField(picture_length);
      })
    });
  }
  function removePictureField() {
    $(".delete-btn").click(function(e){
      var img_block = $(e.target).parent().parent();
      img_block.next().remove();
      img_block.remove();
    });
  }
