-# .d-block.py-1.position-fixed.bg-white.w-100#order-input-header
-#   .d-inline-block.mr-2
-#     = link_to "注文インポート", order_csv_imports_path, class: "btn btn-success", remote: true
-#   .d-inline-block
-#     = link_to "注文手入力", new_order_manual_input_path, class: "btn btn-light border-secondary", remote: true
-# %br
.pt-1
- if @orders.present?
  .table-responsive.mt-4
    %table.table.table-bordered{style:"table-layout:fixed;"}
      %thead.thead-light
        %tr
          %th.align-middle{style:"width:90px;"}
            注文No
          %th.align-middle 注文商品画像
          %th.align-middle
            販売サイト/商品ID
            %br/
            販売サイトURL
          %th.align-middle 買付先URL
          %th.align-middle 色・サイズ・数量
          %th.align-middle お届け先
          %th.align-middle 予定費用
          %th.align-middle 実績費用
          %th.align-middle 発注状況

      %tbody
        - @orders.each do |order|
          %tr{id: "order_#{order.id}"}
            %td.align-middle.text-break.text-center
              = order.trade_no
              = link_to edit_japanese_retailer_order_path(order.id), class: "btn btn-primary btn-sm edit-btn", remote: true do
                %i.fas.fa-edit
            %td.align-middle
              - if order&.item_set&.color_size_price_images.present?
                = link_to new_set_picture_path(item_set_id: order.item_set.id, order_id: order.id), class: 'btn btn-sm btn-outline-warning mb-3 edit-btn', remote: true do
                  登録画像から選択
                  %i.fas.fa-external-link-alt.ml-2
              .ks-1{id: "order-id-#{order.id}_pictures"}
                - if order.pictures.empty?
                  .ks-2.d-inline-block.w-100{id: "order-id-#{order.id}_picture-1"}
                    = link_to "画像リンクを入力してください", new_picture_path(order_id: order.id, button: 1), remote: true, class: "btn btn-light pull-right btn-block add-btn", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right", delay: { "show": 200, "hide": 100 }}
                - else
                  - order.pictures.order(:id).each_with_index do |picture, i|
                    .ks-2.d-inline-block.p-1.mb-2.bg-light.picture-block.w-100{id: "order-id-#{order.id}_picture-#{i + 1}", style: "min-height: 70px;"}
                      %img.ks-3{:src => picture.url, :class => "w-100"}/
                      .ks-3.d-block.text-right
                        = link_to picture_path(picture.id, order_id: order.id), class: "btn delete-btn btn-danger", remote: true, method: :delete,data: { confirm: '本当に削除しますか？' } do
                          %i.far.fa-trash-alt
                      .d-block.text-right
                        = link_to "編集", edit_picture_path(picture.id, order_id: order.id, button: i + 1), remote: true, class: "btn btn-primary edit-btn mt-1"
                  .ks-2.d-block.bg-light.text-center.picture-addition-block{id: "order-id-#{order.id}_picture-#{order.pictures.length + 1}"}
                    = link_to "追加", new_picture_path(order_id: order.id, button: order.pictures.length + 1), remote: true, class: "btn btn-sm btn-success add-btn m-1 ks-3"
            %td.text-break
              - if order.item_set
                = I18n.t("activerecord.attributes.item_set.item_no_category.#{order.item_set.item_no_category}", locale: :ja)
                = "/"
                = order.item_set&.item_no
                %hr/
                = link_to order.item_set.shop_url, order.item_set.shop_url, :target=>["_blank"]
            %td
              .mb-2
                - if order&.item_set
                  - if order&.item_set&.item_units&.any?
                    = link_to edit_item_set_path(order&.item_set, order_id: order.id), remote: true, class: "btn btn-sm btn-light edit-btn" do
                      マスター買付先 登録済
                      %i.fas.fa-external-link-alt.ml-2
                  - else
                    = link_to edit_item_set_path(order&.item_set, order_id: order.id), remote: true, class: "btn btn-sm btn-outline-danger edit-btn" do
                      マスター買付先 未登録
                      %i.fas.fa-external-link-square-alt.ml-2
              .mb-2
                - if order.actual_item_units.any?
                  = link_to edit_order_actual_item_unit_path(order), remote: true, class: "btn btn-sm btn-light edit-btn" do
                    今回の注文の買付先 登録済
                    %i.fas.fa-external-link-alt.ml-2
                - elsif order&.item_set&.item_units&.any?
                  = link_to edit_order_actual_item_unit_path(order), remote: true, class: "btn btn-sm btn-outline-danger edit-btn" do
                    今回の注文の買付先 未登録
                    %i.fas.fa-external-link-alt.ml-2
              - actual_item_units = order&.actual_item_units&.order(:id).includes(:taobao_urls)
              - if actual_item_units.present?
                %p 今回の注文の買付先URL
                - actual_item_units.each_with_index do |actual_item_unit, i|
                  .mb-2
                    - if actual_item_units.length > 1
                      %p= "商品 #{i + 1}"
                    %table
                      %tbody
                        - actual_item_unit.taobao_urls.each do |taobao_url|
                          %tr
                            %td.text-center
                              - if taobao_url.id == actual_item_unit.first_candidate_id
                                %i.fas.fa-check
                            %td{style: "max-width: 100px;"}
                              %p.text-truncate= link_to taobao_url.url, taobao_url.url, :target=>["_blank"]
              - else
                %p 買付先が登録されていません。
            %td
              .d-inline-block
                色・サイズ：
              .d-inline-block
                = order.color_size
              %hr/
              数量: 
              = order.quantity
              %hr/
              %div{id: "taobao_color_size-order_id-#{order.id}"}
                .d-inline-block
                  メモ:
                .d-inline-block
                  - if order.taobao_color_size
                    = link_to edit_taobao_color_size_path(order.taobao_color_size.id), remote: true, class: "btn btn-light btn-sm text-left edit-btn btn-block" do
                      %i.fas.fa-pen-alt
                  - else
                    = link_to new_taobao_color_size_path(order_id: order.id), remote: true, class: "btn btn-light btn-sm text-left edit-btn btn-block" do
                      %i.fas.fa-pen-alt
                    
                %div.mt-2.taobao_color_size_name.text-break
                  = simple_format(order&.taobao_color_size&.name)
                -# .d-inline-block.pull-left{id: "taobao_color_size-order_id-#{order.id}"}
                -#   - if order.taobao_color_size.present?
                -#     - if order.taobao_color_size.name.present?
                -#       = link_to "#{order.taobao_color_size.name}", edit_taobao_color_size_path(order.taobao_color_size.id), remote: true, class: "btn btn-light text-left edit-btn", style: "word-break: break-all;"
                -#     - else
                -#       = link_to "中国語で色・サイズなどを入力", edit_taobao_color_size_path(order.taobao_color_size.id), remote: true, class: "btn btn-light text-left edit-btn btn-block", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right", delay: { "show": 200, "hide": 100 }}
                -#   - else
                -#     = link_to "中国語で色・サイズなどを入力", new_taobao_color_size_path(order_id: order.id), remote: true, class: "btn btn-light text-left edit-btn btn-block", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right", delay: { "show": 200, "hide": 100 }}

            %td
              = order.postal
              %br
              = order.address
              %br
              = order.customer_name
              %br
              = order.phone
            %td.align-middle
              = ""
            %td.align-middle
              = ""
            %td.align-middle
              = ""
- else
  .row.mt-4
    .col
      .h6.pt-2 注文がありません。注文インポートか注文手入力を行ってください。
:javascript
  //$(document).on('change', ':file', function() {
  //  var input = $(this),
  //  numFiles = input.get(0).files ? input.get(0).files.length : 1,
  //  label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  //  input.parent().parent().next(':text').val(label);
  //});
  //function file_selected(file_field){
  //  var filename = $(file_field)[0].files[0].name;
  //  $("#filename").val(filename);
  //}
  $(document).ready(function () {
    $('#sidebarCollapse').on('click', function () {
      $('#sidebar-wrapper').toggleClass('active');
      $('#page-content-wrapper').toggleClass('active');
      var toggle_status = $.cookie('toggle');
      if (toggle_status == 'active') {
        $.cookie('toggle','');
      } else if( toggle_status == '' ) {
        $.cookie('toggle','active');
      }
    });
  });
  $(function(){
    $("#operations").change(function(){
      $("#operations").submit();
    });
  });
  $("#chinese_buyer_id").select2({width:'auto'});
  $("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
  $(function(){
    var toggle_status = $.cookie('toggle');
    if (toggle_status === 'active') {
      $('#sidebar-wrapper').css('transition','all 0.0s');
      $('#page-content-wrapper').css('transition','all 0.0s');
      $('#sidebar-wrapper').toggleClass('active');
      $('#page-content-wrapper').toggleClass('active');
      setTimeout(function(){
        $('#sidebar-wrapper').css('transition','all 0.6s');
        $('#page-content-wrapper').css('transition','all 0.6s');
      }, 0);
    } else {
      $('#sidebar-wrapper').css('transition','all 0.6s');
      $('#page-content-wrapper').css('transition','all 0.6s'); 
    }
  });
  $(function(){
    var location_search = $(location).attr('search');
    var params = location_search.slice(1);
    var params_array = params.split('&')
    var order_id = null
    $.each(params_array, function(index, this_param) {
      this_param_like_hash = this_param.split('=')
      if (this_param_like_hash[0] === "order_id"){
        order_id = this_param_like_hash[1]
      }
    })
    if (order_id !== null){
      var this_order_position = $(`#order_${order_id}`).offset().top;
      $(window).scrollTop( this_order_position - 37);
    }
  })
