#company_companies_index
  .row.mt-4
    .col
      .h5.font-weight-bold 自社の取引会社一覧
      - if @trade_companies_array.present?
        %table.table.table-bordered.mt-1#owner_company_table.ml-4.w-75{style: "table-layout:fixed"}
          %thead.thead-light
            %tr
              %th 会社名
              %th 現在の会社タイプ
              %th 買付を依頼された件数
              %th 買付を依頼した件数
              %th メッセージ
          %tbody
            - @trade_companies_array.each do |company|
              %tr
                %td= company.name
                %td
                  - if company.is_japanese_retailer_account == "japanese_retailer"
                    %p= I18n.t("activerecord.attributes.company.is_japanese_retailer_account.#{company.is_japanese_retailer_account}", locale: :ja)
                  - if company.is_chinese_buyer_account == "chinese_buyer"
                    %p= I18n.t("activerecord.attributes.company.is_chinese_buyer_account.#{company.is_chinese_buyer_account}", locale: :ja)
                %td
                %td
                %td


  .row.mt-5
    .col
      .h5.font-weight-bold 自社へのコンタクト申請中の会社
      - if @contact_to_self_companies.present?
        %table.table.table-bordered.mt-1#owner_company_table.ml-4.w-50{style: "table-layout:fixed"}
          %thead.thead-light
            %tr
              %th 会社名
              %th 現在の会社タイプ
              %th メッセージ
              %th 申請承認
          %tbody
            - @contact_to_self_companies.each do |company|
              %tr
                %td= company.name
                %td
                  - if company.is_japanese_retailer_account == "japanese_retailer"
                    %p= I18n.t("activerecord.attributes.company.is_japanese_retailer_account.#{company.is_japanese_retailer_account}", locale: :ja)
                  - if company.is_chinese_buyer_account == "chinese_buyer"
                    %p= I18n.t("activerecord.attributes.company.is_chinese_buyer_account.#{company.is_chinese_buyer_account}", locale: :ja)
                %td
                %td


  .row.mt-5
    .col
      .h5.font-weight-bold 自社からコンタクト申請中の会社
      - if @contact_from_self_companies.present?
        %table.table.table-bordered.mt-1#owner_company_table.ml-4.w-50{style: "table-layout:fixed"}
          %thead.thead-light
            %tr
              %th 会社名
              %th 現在の会社タイプ
              %th メッセージ
              %th 申請取消
          %tbody
            - @contact_from_self_companies.each do |company|
              %tr
                %td= company.name
                %td
                  - if company.is_japanese_retailer_account == "japanese_retailer"
                    %p= I18n.t("activerecord.attributes.company.is_japanese_retailer_account.#{company.is_japanese_retailer_account}", locale: :ja)
                  - if company.is_chinese_buyer_account == "chinese_buyer"
                    %p= I18n.t("activerecord.attributes.company.is_chinese_buyer_account.#{company.is_chinese_buyer_account}", locale: :ja)
                %td
                %td
      .ml-4
        = link_to companies_path, class: 'btn btn-primary' do
          %p 取引会社を探す
  



