#topics_index
  .row.pt-2
    .col
      = link_to company_connects_path, class: 'btn btn-sm btn-link' do
        %i.fas.fa-arrow-left
        取引先一覧
  .row.mt-4
    .col
      - target_company = @connect.get_target_company(current_company)
      - if @topics.present?
        .h5.font-weight-bold= target_company.name + "とのトピック一覧"
        %table.table.table-bordered.mt-3.ml-4.w-50{style: "table-layout:fixed"}
          %thead.thead-light
            %tr
              %th トピック
              %th メッセージ
          %tbody
            - @topics.each do |topic|
              %tr
                %td= topic.title
                %td
                  = link_to topic_path(topic), class: 'btn btn-primary' do
                    %p メッセージ
      - else
        .h5.font-weight-bold= target_company.name + "へのメッセージを作成してください。"
      .ml-4
        = link_to '新規トピックでメッセージ作成', topics_path(connect_id: @connect.id), method: :post, class: 'btn btn-sm btn-success'
