/ Navigation
%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} China Trade System
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link{:href => "#"} 注文一覧
      %li.nav-item
        %a.nav-link{:href => "#"} 買付先一覧

    %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = current_user.name
    / この下の行に dropdown-menu-right を追加するだけ。
    %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
      %li.dropdown-item
        = link_to "別アカウントにログイン", destroy_user_session_path, method: :delete, class: "dropdown-item"
      %li.dropdown-item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
      .dropdown-divider
      %li.dropdown-item
        = link_to "設定", destroy_user_session_path, method: :delete, class: "dropdown-item"

.container
  - if current_user.account_type == "orderer"
    .col-md-6
    = form_tag import_orders_path, method: :post, multipart: true do |f|
      .col-md-5.my-2.search_item.input-group
        = text_field_tag 'filename',"", id: "filename", disabled: true, class: "form-control"
        = file_field_tag 'csv_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));", class: "form-control"
        = button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();", class: "form-control btn btn-primary"
      .col-md-5.my-2
        買付担当：
        = select_tag(:chinese_buyer_id,
            options_for_select(User.where(account_type: 0).map{ |o| [o.name + " 様", o.id] }))
      .col-md-5.my-2
        %button.btn.btn-success.btn-block{:type => "submit"} インポート
  %table.table
    %thead
      %tr
        %th.align-middle 注文No
        %th.align-middle 商品写真
        %th.align-middle 色・サイズ
        %th.align-middle 数量
        %th.align-middle お届け先
        %th.align-middle 購入予定料金
        %th.align-middle 手配状況
        %th.align-middle 追跡番号
        %th.align-middle 購入料金
    %tbody
      -@orders.each do |order|
        %tr
          %td.align-middle{rowspan:2}
            = order.trade_no
          %td.align-middle{rowspan:2}
            = ""
          %td.align-middle
            = order.color_size
          %td.align-middle.text-center{rowspan:2}
            = order.quantity
          %td.align-middle.h6.small{rowspan:2, style: "max-width: 150px;"}
            = order.postal
            %br
            = order.address
            %br
            = order.customer_name
          %td.align-middle{rowspan:2}
            = ""
          %td.align-middle{rowspan:2}
            = ""
          %td.align-middle{rowspan:2}
            = ""
          %td.align-middle{rowspan:2}
            = ""
        %tr
          %td.align-middle
            %div{id: "taobao_color_size-#{order.id}"}
              - if order.taobao_color_size.present?
                = link_to "#{order.taobao_color_size}", edit_order_path(order), remote: true, class: "btn btn-light pull-right edit-btn"
              - else
                = link_to "中国語のカラー・サイズを入力", edit_order_path(order), remote: true, class: "btn btn-light pull-right edit-btn", style: "color: gray; font-size: 12px;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right"}

:javascript
  $(document).on('change', ':file', function() {
      var input = $(this),
      numFiles = input.get(0).files ? input.get(0).files.length : 1,
      label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
      input.parent().parent().next(':text').val(label);
  });
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
  $(function(){
    $("#operations").change(function(){
      $("#operations").submit();
    });
  });
  $("#chinese_buyer_id").select2({width:'auto'});
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    $('[data-toggle="tooltip"]').on('click',function(){
      $(this).tooltip('hide');
    })
  });