/ Navigation
%nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} China Trade System
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        %a.nav-link.h6{:href => "#"} 注文一覧
      %li.nav-item
        %a.nav-link.h6{:href => "#"} 買付先一覧

    %a#navbarDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
      = current_user.name
    / この下の行に dropdown-menu-right を追加するだけ。
    %ul.dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
      %li.dropdown-item
        = link_to "別アカウントにログイン", destroy_user_session_path, method: :delete, class: "dropdown-item"
      %li.dropdown-item
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item"
      .dropdown-divider
      %li.dropdown-item
        = link_to "設定", destroy_user_session_path, method: :delete, class: "dropdown-item"

.container
  - if current_user.account_type == "orderer"
    .col-md-6
    = form_tag import_orders_path, method: :post, multipart: true do |f|
      .col-md-5.my-2.search_item.input-group
        = text_field_tag 'filename',"", id: "filename", disabled: true, class: "form-control"
        = file_field_tag 'csv_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));", class: "form-control"
        = button_tag 'ファイル選択', class: %i(btn-primary csv_input_btn), type: 'button', onclick: "$('#file_input').click();", class: "form-control btn btn-primary"
      .col-md-5.my-2
        買付担当：
        = select_tag(:chinese_buyer_id,
            options_for_select(User.where(account_type: 0).map{ |o| [o.name + " 様", o.id] }))
      .col-md-5.my-2
        %button.btn.btn-success.btn-block{:type => "submit"} インポート
  .table-responsive
    %table.table.table-hover.table-bordered
      %thead.thead-light
        %tr
          %th.align-middle 注文No
          %th.align-middle 商品写真
          %th.align-middle 色・サイズ・数量
          %th.align-middle お届け先
          %th.align-middle 予定費用
          %th.align-middle 実績費用
          %th.align-middle 発注状況
          %th.align-middle 直接編集
        -@orders.each do |order|
          %tr
            %td.align-middle
              = order.trade_no
            %td.align-middle{id: "order-id-#{order.id}_pictures", style: "max-width: 180px;"}
              - if order.pictures.empty?
                %div{id: "order-id-#{order.id}_picture-1"}
                  = link_to "画像リンクを入力してください", new_picture_path(order_id: order.id, button: 1), remote: true, class: "btn btn-light pull-right btn-block add-btn", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right"}
              - else
                - order.pictures.order(:id).each_with_index do |picture, i|
                  .d-inline-block.p-1.mb-2.bg-light.picture-block.w-100{id: "order-id-#{order.id}_picture-#{i + 1}", style: "min-height: 50px;"}
                    %img{:src => picture.url, :class => "w-100"}/
                    .d-block.text-right
                      = link_to "編集", edit_picture_path(picture.id, order_id: order.id, button: i + 1), remote: true, class: "btn btn-primary edit-btn mt-1"
                .d-block.bg-light.text-center.picture-addition-block{id: "order-id-#{order.id}_picture-#{order.pictures.length + 1}"}
                  = link_to "追加", new_picture_path(order_id: order.id, button: order.pictures.length + 1), remote: true, class: "btn btn-sm btn-success add-btn m-1"
            %td{style: "max-width: 180px;"}
              .d-inline-block
                色・サイズ：
              .d-inline-block
                = order.color_size
              %hr/
              %div
                .d-inline-block
                  颜色・尺寸:
                .d-inline-block.pull-left{id: "taobao_color_size-order_id-#{order.id}"}
                  - if order.taobao_color_size.present?
                    - if order.taobao_color_size.name.present?
                      = link_to "#{order.taobao_color_size.name}", edit_taobao_color_size_path(order.taobao_color_size.id), remote: true, class: "btn btn-light text-left edit-btn", style: "word-break: break-all;"
                    - else
                      = link_to "色・サイズを中国語で入力", edit_taobao_color_size_path(order.taobao_color_size.id), remote: true, class: "btn btn-light text-left edit-btn btn-block", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right"}
                  - else
                    = link_to "色・サイズを中国語で入力", new_taobao_color_size_path(order_id: order.id), remote: true, class: "btn btn-light text-left edit-btn btn-block", style: "color: gray;", title: 'クリックして入力', data: { toggle: "tooltip", placement: "right"}
              %hr/
              数量: 
              = order.quantity
            %td{style: "max-width: 150px;"}
              = order.postal
              %br
              = order.address
              %br
              = order.customer_name
              %br
              = order.phone
            %td.align-middle
              = ""
            %td.align-middle
              = ""
            %td.align-middle
              = ""
            %td.align-middle
              -# = link_to edit_order_path(id: order.id), class: "btn btn-blue btn-ml", remote: true do
              = link_to edit_order_path(order.id), class: "btn btn-blue btn-ml edit-btn", remote: true do
                %i.far.fa-edit
            -# %td.align-middle
            -#   = ""
            -# %td.align-middle
            -#   = ""
            -# %td.align-middle
            -#   = ""
            -# %td.align-middle
            -#   = ""
            -# %td.align-middle
            -#   = ""

:javascript
  $(document).on('change', ':file', function() {
    var input = $(this),
    numFiles = input.get(0).files ? input.get(0).files.length : 1,
    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
    input.parent().parent().next(':text').val(label);
  });
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
  $(function(){
    $("#operations").change(function(){
      $("#operations").submit();
    });
  });
  $("#chinese_buyer_id").select2({width:'auto'});
