.modal-dialog#companies_edit
  / モーダルのコンテンツ部分
  .modal-content
    / モーダルのヘッダー
    .container
      .modal-header
        / モーダルのタイトル
        .h3#exampleModalLabel.modal-title 自分がオーナーの会社編集
        / 閉じるアイコン
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for @company do |f|
          %table.table.table-bordered{style: "table-layout:fixed"}
            %thead.thead-light
              %tr
                %th 会社名
                %th 会社タイプ
            %tbody
              %tr
                %td.align-middle
                  = f.text_field :name, class: 'form-control'
                %td.align-middle
                  -#既に注文があった場合に、radioボタンをdisabledにする変数
                  - disabled_true_or_false = @company.japanese_retailer_orders.present? || @company.chinese_buyer_orders.present?
                  .form-check.py-1
                    -# - is_japanese_retailer_account = f.object.account_type == "japanese_retailer" ? true : false
                    %label
                      = f.radio_button :account_type, "japanese_retailer", disabled: disabled_true_or_false
                      = I18n.t("activerecord.attributes.company.account_type.japanese_retailer", locale: :ja)
                  .form-check.py-1
                    -# - is_chinese_buyer_account = f.object.account_type == "chinese_buyer" ? true : false
                    %label
                      = f.radio_button :account_type, "chinese_buyer", disabled: disabled_true_or_false
                      = I18n.t("activerecord.attributes.company.account_type.chinese_buyer", locale: :ja)
          .modal-footer.mt-3
            = submit_tag "保存", class: "btn btn-primary form-control w-25"

:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
  })
