.modal-dialog
  / モーダルのコンテンツ部分
  .modal-content
    / モーダルのヘッダー
    .container
      .modal-header
        / モーダルのタイトル
        .h4#exampleModalLabel.modal-title 自分がオーナーの会社登録
        / 閉じるアイコン
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        -# = form_for @company do |f|
        -#   = f.hidden_field :owner_user_id, value: current_user.id
        -#   = f.text_field :name, class: 'form-control'
        -#   = f.submit '登録', class: 'btn btn-primary form-control'
        = form_for @company do |f|
          = f.hidden_field :owner_user_id, value: current_user.id
          .form-group.pt-3
            %label#InputName 会社名
            = f.text_field :name, class: 'form-control'
          .p.mt-2 アカウントタイプ
          .form-check
            - is_japanese_retailer_account = f.object.account_type == "japanese_retailer" ? true : false
            %label
              = f.radio_button :account_type, 'japanese_retailer'
              = I18n.t("activerecord.attributes.company.account_type.japanese_retailer", locale: :ja)
          .form-check
            - is_chinese_buyer_account = f.object.account_type == "chinese_buyer" ? true : false
            %label
              = f.radio_button :account_type, 'chinese_buyer'
              = I18n.t("activerecord.attributes.company.account_type.chinese_buyer", locale: :ja)
          .modal-footer.mt-3
            = submit_tag "保存", class: "btn btn-primary form-control"

