= form_for(@picture, url: picture_path(@picture.id, order_id: @order.id, button: params[:button]), remote: true) do |f|
  .form-inline
    = f.text_field :url, class: "form-control w-100", onfocus: "this.select();"
    .d-inline-block.p-1{style: "width: 60%;"}
      = f.submit "保存", class: "btn btn-primary save-btn btn-block btn-sm"
    .d-inline-block.p-1{style: "width: 40%;"}
      %button.btn.btn-default.border-primary.text-primary.btn-cancel.btn-block.btn-sm{:type => "button"} キャンセル

:javascript
  $('.btn-cancel').click(function() {
    $('.delete-btn').removeClass('disabled');
    $('.edit-btn').removeClass('disabled');
    $('.add-btn').removeClass('disabled');
    var img_html = `<img class="w-100" src="#{@picture.url}"><div class="d-block text-right"><a class="btn delete-btn btn-danger" data-confirm="本当に削除しますか？" data-remote="true" rel="nofollow" data-method="delete" href="/pictures/#{@picture.id}?order_id=#{@order.id}"><i class="far fa-trash-alt"></i></a></div><div class="d-block text-right"><a class="btn btn-primary edit-btn mt-1" data-remote="true" href="/pictures/#{@picture.id}/edit?button=#{params[:button]}&amp;order_id=#{@order.id}">編集</a></div>`;
    $('#order-id-#{@order.id}_picture-#{params[:button]}').html(img_html);
    $('[data-toggle="tooltip"]').tooltip()
    $('[data-toggle="tooltip"]').on('click',function(){
      $(this).tooltip('hide');
    })
  })
  $('form').submit(function(){
    var input = $('input[name="picture[url]"]').val();
    if (input == "") {
      alert('画像リンクを入力してください');
      return false;
    }
  });
  $(function(){
    $('.delete-btn').addClass('disabled');
    $('.edit-btn').addClass('disabled');
    $('.add-btn').addClass('disabled');
  });
