.modal-dialog.modal-lg#item_sets_modal
  / モーダルのコンテンツ部分
  .modal-content
    / モーダルのヘッダー
    .container
      .modal-header
        / モーダルのタイトル
        .h4#exampleModalLabel.modal-title
          買付先情報
          %span.badge.badge-success マスター
        / 閉じるアイコン
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = form_tag item_set_path(@item_set), method: :put do 
        / モーダルの本文
        .modal-body
          .h5
            = "販売サイト/商品ID"
            = " : "
            = I18n.t("activerecord.attributes.item_set.item_no_category.#{@item_set.item_no_category}", locale: :ja)
            = "/"
            = @item_set.item_no 
          .h5
            = "販売サイトURL"
            = " : "
            = link_to @item_set.shop_url, @item_set.shop_url, :target=>["_blank"]
          %br
          .h5
            買付先URL
            %span.badge.badge-success マスター
          %p.help-block 買付先が登録されていない注文や今後インポートする注文に適応されるフォームです。
          .item_units
            - @item_units_and_taobao_urls_hash.keys.each_with_index do |item_unit, i|
              .row.mx-2.item-row
                - if item_unit.id.to_i != 0
                  = hidden_field_tag "not_remove_item_unit[#{i}][#{item_unit.id.to_i}]", "must_remove"
                .col.mb-5
                  .h5.item_uint_and_trash
                    .d-inline.item_unit_title
                      = ""
                    .btn.btn-sm.btn-outline-danger.item_unit_remove_btn
                      %i.fas.fa-trash-alt
                  %table.table.table-bordered
                    %thead.thead-light
                      %tr
                        %th.first_candidate_select.text-center
                          優先
                          %i.fas.fa-question-circle{title: '優先的に購入してほしい店舗に、1つだけチェックをいれてください。', data: { toggle: "tooltip", placement: "top", delay: { "show": 200, "hide": 100 }}}
                        %th URL
                        %th 在庫
                        %th 削除
                    %tbody.item_unit_tbody
                      - @item_units_and_taobao_urls_hash[item_unit].each_with_index do |taobao_url, k|
                        %tr
                          - if taobao_url.id.to_i != 0
                            = hidden_field_tag "not_remove_taobao_url[#{i}][#{item_unit.id.to_i}][#{k}][#{taobao_url.id.to_i}]", "must_remove"
                          - check_box_true_or_false = item_unit.first_candidate_id == taobao_url.id && item_unit.first_candidate_id.present? ? true : false
                          %td.text-center.align-middle
                            = check_box_tag "first_candidate_select[#{i}][#{k}]", true, check_box_true_or_false, class: "submit_check_box"
                          %td.text-center.align-middle
                            .input-group
                              = text_field_tag "taobao_url[#{i}][#{item_unit.id.to_i}][#{k}][#{taobao_url.id.to_i}]", taobao_url.url, class: "form-control taobao_url_input"
                              .input-group-append
                                %span#basic-addon2.input-group-text
                                  - taobao_url_url = taobao_url.url.nil? ? '' : taobao_url.url
                                  = link_to taobao_url_url, :target=>["_blank"], class: "fontawsome_taobao_url_link" do
                                    %i.fas.fa-external-link-alt
                          %td.text-center.align-middle
                            - have_stock_options = TaobaoUrl.is_have_stocks.map {|key, value| [ I18n.t("activerecord.attributes.taobao_url.is_have_stock.#{key}", locale: :ja), value]}
                            - have_stock_class = taobao_url.is_have_stock == "have_stock" ? "have_stock form-control" : "have_stock form-control bg-secondary text-white"
                            = select_tag "have_stock[#{i}][#{k}]", options_for_select(have_stock_options, selected: taobao_url.is_have_stock_before_type_cast), class: have_stock_class
                          %td.text-center.align-middle
                            .btn.btn-sm.btn-outline-danger.tr_remove_btn
                              %i.fas.fa-trash-alt

                  .d-block{style: 'margin-left: 80px; margin-right: 250px;'}
                    .btn.btn-sm.btn-outline-success.btn-block.text-center.add-input-btn
                      %i.fas.fa-arrow-alt-circle-up.fa-lg
                      買付先URL追加
          .d-block
            .btn.btn-sm.btn-outline-warning.text-center.add-item-unit-btn{title: 'セット商品の場合などで複数商品を登録したい時に、商品を追加してください', data: { toggle: "tooltip", placement: "top", delay: { "show": 200, "hide": 100 }}}
              商品追加
              %i.fas.fa-long-arrow-alt-right

        %br
        .modal-footer
          = submit_tag "保存", class: "btn btn-primary pull-right w-25"

:javascript
  $(function() {
    $('[data-toggle="tooltip"]').tooltip()
    $('.add-input-btn').on('click', function(e){
      $add_btn = $(e.target);
      $this_table = $add_btn.closest('.d-block').prev('.table');
      addTrFunction($this_table);
    })
    $('.add-item-unit-btn').on('click',function(e){
      $add_item_unit_btn = $(e.target);
      $d_block = $add_item_unit_btn.closest('.d-block');
      $item_units = $d_block.prev('.item_units');
      addItemUnitFunction($item_units);
      return recursiveAllFunction();
    })
    recursiveAllFunction();
  });
  // 再起をする必要がある関数群
  function recursiveAllFunction() {
    $('.taobao_url_input').change(function(e){
      resetTaobaoUrlLink();
      var $this_taobao_url_input = $(e.target);
      arrangeCheckBoxByTaobaoUrlInput($this_taobao_url_input)
      applyAlwaysOneCheckInAllItemRowFunction()
    })
    $('.submit_check_box').on('click', function(e){
      var $this_form_check = $(e.target);
      var $this_item_unit_tbody = $(e.target).closest('.item_unit_tbody');
      var $all_form_checks = $this_item_unit_tbody.find('.submit_check_box');
      // すべてのチェックボックスのチェックを外す
      $all_form_checks.prop('checked', false);
      // 今回のチェックボックスのチェックを入れる
      $this_form_check.prop('checked', true); 
    })
    $('.have_stock').change(function(e) {
      var $this_select_tag = $(e.target);
      arrangeCheckBoxByHavingStockSelectTag($this_select_tag);
    })
    $('.tr_remove_btn').on('click', function(e){
      var $this_tr_remove_btn = $(e.target);
      var $this_tr = $this_tr_remove_btn.closest('tr');
      var $this_tbody = $this_tr.parent();
      var $this_table = $this_tbody.parent();
      $this_tr.fadeOut('fast').queue(function(e) {
        var $hidden_input = $this_tr.children('input:first');
        var temp_name = $hidden_input.attr('name');
        if (temp_name) {
          var revision_name = temp_name.slice(4);
          $hidden_input.attr('name', revision_name);
          $this_tr.before($hidden_input);
        }
        $this_tr.remove();
        var $tbody_tr = $this_tbody.children('tr');
        if ($tbody_tr.length == 2) {
          addTrFunction($this_table);
        }
        return recursiveAllFunction()
      });
    })
    $('.item_unit_remove_btn').on('click', function(e){
      $item_unit_remove_btn = $(e.target)
      $item_row =  $item_unit_remove_btn.closest('.item-row');
      var $hidden_input = $item_row.children('input:first');
      var temp_name = $hidden_input.attr('name');
      if (temp_name) {
          var revision_name = temp_name.slice(4);
          $hidden_input.attr('name', revision_name);
          $item_row.before($hidden_input);
      }
      removeItemUnitFunction($item_row);
    })
    // 商品1,商品2..を整理
    $(function() {
      $item_units = $('.item_units');
      $item_rows = $item_units.children('.item-row') ;
      $item_rows.each(function(index, item_row){
        $item_unit_title = $(item_row).find('.item_unit_title');
        $item_unit_title.html(`商品 ${index + 1}`)
      })
      var item_rows_length = $item_rows.length;
      if (item_rows_length > 1) {
        $('.item_uint_and_trash').removeClass('d-none');
      } else {
        $('.item_uint_and_trash').addClass('d-none');
      }
    })
    //在庫有り・無しの内容を取ってっ来て、第一候補のチェックボックスをdisabledにしたり、チェック外したりする
    $('.have_stock').each(function(index, this_select_tag) {
      var $this_select_tag = $(this_select_tag);
      arrangeCheckBoxByHavingStockSelectTag($this_select_tag)
    })
    // taobao_url_inputが空なら、第一候補のチェックボックスをdisabledにしたり、チェック外したりする
    $('.taobao_url_input').each(function(index, this_taobao_url_input) {
      var $this_taobao_url_input = $(this_taobao_url_input);
      arrangeCheckBoxByTaobaoUrlInput($this_taobao_url_input)
    })
    applyAlwaysOneCheckInAllItemRowFunction()
  }
  
  
  function resetTaobaoUrlLink() {
    $('.item_unit_tbody tr').each(function(index, tr_element) {
      var taobao_url = $(tr_element).find('.taobao_url_input').val();
      $(tr_element).find('.fontawsome_taobao_url_link').attr('href', taobao_url);
    })
  }
  //TaobaoUrlを入力するフォームの1行を追加する関数 
  function addTrFunction($this_table) {
    $this_tbody = $this_table.children('.item_unit_tbody');
    $this_table_last_tr = $this_table.find('tr:last');
    $this_table_submit_check_box = $this_table_last_tr.find('.submit_check_box');
    $last_taobao_url_input = $this_table_last_tr.find('.taobao_url_input');
    // 最後のcheckboxのnameから追加のcheckboxのnameを作る
    var $this_table_submit_check_box_name = $this_table_submit_check_box.attr('name');
    var $this_table_submit_check_box_name_slice = $this_table_submit_check_box_name.slice(0, -1);
    var $this_table_submit_check_box_name_split_array = $this_table_submit_check_box_name_slice.split('[');
    var last_check_box_id = $this_table_submit_check_box_name_split_array[2];
    var new_tr_id = String(Number(last_check_box_id) + 1);
    var this_item_unit_id = $this_table_submit_check_box_name_split_array[1].slice(0, -1)
    // 最後のinputのnameから追加のinputのnameを作る
    var last_taobao_url_input_name = $last_taobao_url_input.attr('name');
    var last_taobao_url_input_name_split_array = last_taobao_url_input_name.split('][');
    var new_taobao_url_input_name_split_array = last_taobao_url_input_name_split_array;
    new_taobao_url_input_name_split_array[2] = String(Number(last_taobao_url_input_name_split_array[2]) + 1);
    new_taobao_url_input_name_split_array[3] = '0]'
    var new_taobao_url_input_name = new_taobao_url_input_name_split_array.join('][');
    // 最後のinputのideから追加のinputのideを作る
    var last_taobao_url_input_id = $last_taobao_url_input.attr('id');
    var last_taobao_url_input_id_split_array = last_taobao_url_input_id.split('_');
    var new_taobao_url_input_id_split_array = last_taobao_url_input_id_split_array;
    new_taobao_url_input_id_split_array[4] = String(Number(last_taobao_url_input_id_split_array[4]) + 1);
    new_taobao_url_input_id_split_array[5] = "0";
    var new_taobao_url_input_id = new_taobao_url_input_id_split_array.join('_');
    var add_new_input_html =`
      <tr>
      <td class="text-center align-middle">
      <input type="checkbox" name="first_candidate_select[${this_item_unit_id}][${new_tr_id}]" id="first_candidate_select_${this_item_unit_id}_${new_tr_id}" value="true" class="submit_check_box">
      </td>
      <td class="text-center align-middle">
      <div class="input-group">
      <input type="text" name="${new_taobao_url_input_name}" id="${new_taobao_url_input_id}" class="form-control taobao_url_input">
      <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
      <a target="_blank" class="fontawsome_taobao_url_link" href=""><i class="fas fa-external-link-alt"></i>
      </a></span>
      </div>
      </div>
      </td>
      <td class="text-center align-middle">
      <select name="have_stock[${this_item_unit_id}][${new_tr_id}]" id="have_stock_${this_item_unit_id}_${new_tr_id}" class="have_stock form-control"><option selected="selected" value="1">在庫有り</option>
      <option value="0">在庫無し</option></select>
      </td>
      <td class="text-center align-middle">
      <div class="btn btn-sm btn-outline-danger tr_remove_btn">
      <i class="fas fa-trash-alt"></i>
      </div>
      </td>
      </tr>
    `
    $this_tbody.append(add_new_input_html);
    return recursiveAllFunction();
  }
  function addItemUnitFunction($item_units){
    var $last_item_unit = $item_units.children('.item-row:last');
    var $a_url_input_of_last_item_unit = $last_item_unit .find('.taobao_url_input:first');
    var $name_of_a_url_input = $a_url_input_of_last_item_unit.attr('name');
    var $name_of_a_url_input_array = $name_of_a_url_input.split('][');
    var last_item_unit_id = $name_of_a_url_input_array[0].slice(-1);
    var next_item_unit_id = String(Number(last_item_unit_id) + 1);
    var new_item_unit_html = `
      <div class="row mx-2 item-row">
      <div class="col mb-5">
      <div class="h5 item_uint_and_trash">
      <div class="d-inline item_unit_title">商品 ${next_item_unit_id + 1}</div>
      <div class="btn btn-sm btn-outline-danger item_unit_remove_btn">
      <i class="fas fa-trash-alt"></i>
      </div>
      </div>
      <table class="table table-bordered">
      <thead class="thead-light">
      <tr>
      <th class="first_candidate_select text-center">
      優先
      <i class="fas fa-question-circle" data-delay-hide="100" data-delay-show="200" data-placement="top" data-toggle="tooltip" title="" data-original-title="優先的に購入してほしい店舗に、1つだけチェックをいれてください。"></i>
      </th>
      <th>URL</th>
      <th>在庫</th>
      <th>削除</th>
      </tr>
      </thead>
      <tbody class="item_unit_tbody">
      <tr>
      <td class="text-center align-middle">
      <input type="checkbox" name="first_candidate_select[${next_item_unit_id}][0]" id="first_candidate_select_[${next_item_unit_id}]_0" value="true" class="submit_check_box">
      </td>
      <td class="text-center align-middle">
      <div class="input-group">
      <input type="text" name="taobao_url[${next_item_unit_id}][0][0][0]" id="taobao_url_${next_item_unit_id}_0_0_0" class="form-control taobao_url_input">
      <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
      <a target="_blank" class="fontawsome_taobao_url_link" href=""><i class="fas fa-external-link-alt"></i>
      </a></span>
      </div>
      </div>
      </td>
      <td class="text-center align-middle">
      <select name="have_stock[${next_item_unit_id}][0]" id="have_stock_[${next_item_unit_id}]_0" class="have_stock form-control"><option selected="selected" value="1">在庫有り</option>
      <option value="0">在庫無し</option></select>
      </td>
      <td class="text-center align-middle">
      <div class="btn btn-sm btn-outline-danger tr_remove_btn">
      <i class="fas fa-trash-alt"></i>
      </div>
      </td>
      </tr>
      <tr>
      <td class="text-center align-middle">
      <input type="checkbox" name="first_candidate_select[${next_item_unit_id}][1]" id="first_candidate_select_${next_item_unit_id}_1" value="true" class="submit_check_box">
      </td>
      <td class="text-center align-middle">
      <div class="input-group">
      <input type="text" name="taobao_url[${next_item_unit_id}][0][1][0]" id="taobao_url_${next_item_unit_id}_0_1_0" class="form-control taobao_url_input">
      <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
      <a target="_blank" class="fontawsome_taobao_url_link" href=""><i class="fas fa-external-link-alt"></i>
      </a></span>
      </div>
      </div>
      </td>
      <td class="text-center align-middle">
      <select name="have_stock[${next_item_unit_id}][1]" id="have_stock_[${next_item_unit_id}]_1" class="have_stock form-control"><option selected="selected" value="1">在庫有り</option>
      <option value="0">在庫無し</option></select>
      </td>
      <td class="text-center align-middle">
      <div class="btn btn-sm btn-outline-danger tr_remove_btn">
      <i class="fas fa-trash-alt"></i>
      </div>
      </td>
      </tr>
      <tr>
      <td class="text-center align-middle">
      <input type="checkbox" name="first_candidate_select[${next_item_unit_id}][2]" id="first_candidate_select_${next_item_unit_id}_2" value="true" class="submit_check_box">
      </td>
      <td class="text-center align-middle">
      <div class="input-group">
      <input type="text" name="taobao_url[${next_item_unit_id}][0][2][0]" id="taobao_url_${next_item_unit_id}_0_2_0" class="form-control taobao_url_input">
      <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">
      <a target="_blank" class="fontawsome_taobao_url_link" href=""><i class="fas fa-external-link-alt"></i>
      </a></span>
      </div>
      </div>
      </td>
      <td class="text-center align-middle">
      <select name="have_stock[${next_item_unit_id}][2]" id="have_stock_[${next_item_unit_id}]_2" class="have_stock form-control"><option selected="selected" value="1">在庫有り</option>
      <option value="0">在庫無し</option></select>
      </td>
      <td class="text-center align-middle">
      <div class="btn btn-sm btn-outline-danger tr_remove_btn">
      <i class="fas fa-trash-alt"></i>
      </div>
      </td>
      </tr>
      </tbody>
      </table>
      <div class="d-block" style="margin-left: 80px; margin-right: 250px;">
      <div class="btn btn-sm btn-outline-success btn-block text-center add-input-btn add-input-btn-${next_item_unit_id}">
      <i class="fas fa-arrow-alt-circle-up fa-lg"></i>
      買付先URL追加
      </div>
      </div>
      </div>
      </div>
    `
    $item_units.append(new_item_unit_html);
    afterPushButtonToAddTrFunction(`.add-input-btn-${next_item_unit_id}`)
    $('[data-toggle="tooltip"]').tooltip()
  }
  function removeItemUnitFunction($item_row){
    $item_row.remove();
    return recursiveAllFunction()
  }
  //追加したDOM用のTr追加関数
  function afterPushButtonToAddTrFunction(add_input_btn_i) {
    $(add_input_btn_i).on('click', function(e){
      $add_btn = $(e.target);
      $this_table = $add_btn.closest('.d-block').prev('.table');
      addTrFunction($this_table);
    })
  }
  function arrangeCheckBoxByHavingStockSelectTag($this_select_tag) {
    var n = $this_select_tag.children('option:selected').val();
    var $this_tr = $this_select_tag.closest('tr');
    var $this_taobao_url_input = $this_tr.find('.taobao_url_input');
    var $this_taobao_url_input = $this_taobao_url_input.val();
    var $this_submit_check_box = $this_tr.find('.submit_check_box');
    if ($this_taobao_url_input == ""){
      switch (n) {
        case '0':
          $this_select_tag.addClass('bg-secondary text-white');
          break;
        case '1':
          $this_select_tag.removeClass('bg-secondary text-white');
          break;
      }
    } else {
      switch (n) {
        case '0':
          $this_select_tag.addClass('bg-secondary text-white');
          $this_submit_check_box.prop('checked', false);
          $this_submit_check_box.prop('disabled', true);
          break;
        case '1':
          $this_select_tag.removeClass('bg-secondary text-white');
          $this_submit_check_box.prop('disabled', false);
          break; 
      }
    }
    applyAlwaysOneCheckInAllItemRowFunction()
  }
  function arrangeCheckBoxByTaobaoUrlInput($this_taobao_url_input){
    var this_taobao_url_input_val = $this_taobao_url_input.val();
    var $this_tr = $this_taobao_url_input.closest('tr');
    var $this_select_tag = $this_tr.find('.have_stock');
    var n = $this_select_tag.children('option:selected').val();
    var $this_submit_check_box = $this_tr.find('.submit_check_box');
    if (n == '1'){
      if (this_taobao_url_input_val == ""){
        $this_submit_check_box.prop('checked', false);
        $this_submit_check_box.prop('disabled', true);
      } else {
        $this_submit_check_box.prop('disabled', false);
      }
    }
  }
  function applyAlwaysOneCheckInItemRowFunction($item_row){
    var $all_submit_check_box = $item_row.find('.submit_check_box');
    var all_check_situation_array = [];
    $all_submit_check_box.each(function(index, submit_check_box){
      var $submit_check_box = $(submit_check_box);
      var check_situation = $submit_check_box.prop('checked');
      all_check_situation_array.push(check_situation)
    })
    if ($.inArray(true, all_check_situation_array) == -1) {
      var $item_unit_tbody = $item_row.find('.item_unit_tbody')
      var $this_all_tr = $item_unit_tbody.find('tr');
      $this_all_tr.each(function(index, tr){
        var $this_tr = $(tr);
        var $this_taobao_url_input = $this_tr.find('.taobao_url_input');
        var $this_taobao_url_input_val = $this_taobao_url_input.val();
        var $this_select_tag = $this_tr.find('.have_stock');
        var n = $this_select_tag.children('option:selected').val();
        var $this_submit_check_box = $this_tr.find('.submit_check_box');
        if ($this_taobao_url_input_val != "" && n == '1'){
          $this_submit_check_box.prop('checked', true);
          return false;
        }
      })
    }
  }
  function applyAlwaysOneCheckInAllItemRowFunction(){
    $('.item-row').each(function(index, item_row){
      $item_row = $(item_row);
      applyAlwaysOneCheckInItemRowFunction($item_row);
    })
  }
