!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChinaTradeSystem
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - flash.each do |key, value|
      - key = "info" if key == "notice"
      - key = "danger"  if key == "alert"
      .fixed-top
        %div{class: "alert alert-#{key} alert-dismissible text-center fade show", role: 'alert'}
          = value
          %button.close{aria: {label: 'Close'}, data: {dismiss: 'alert'}, type: 'button'}
            %span{aria: {hidden: 'true'}} ×
    - if user_signed_in?
      #wrapper.d-flex{style: "overflow-x: scroll;"}
        / Sidebar
        = render 'shared/sidebar'
        / Page Content
        - margin_left = nil
        /- margin_left = user_signed_in? ? nil : "margin-left: 0px" 
        #page-content-wrapper
          / Header
          = render 'shared/header'
          / Container
          .container-fluid#container
            = yield
    - else
      = yield
    -# 背面クリックで閉じれるモーダル
    #modal.modal.fade{role: 'dialog', aria: {hidden: 'true'}, tabindex: '-1'}
    -# 背面クリックで閉じれないモーダル
    #modal-static.modal.fade{role: 'dialog', aria: {hidden: 'true'}, data: {backdrop: 'static'}}
    -# 2重にモーダル開くとき用のモーダル
    #modal-overlay.modal.fade{role: 'dialog', aria: {hidden: 'true'}, data: {backdrop: 'overlay'}}

:javascript
  $('.alert-success').delay(1500).fadeOut("slow");
